@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap");

.contactForm {
  max-width: 720px;
  margin: 0 auto;
  padding: 80px 0 160px;
}

.contactForm h1 {
  padding: 10px 0 30px;
  color: #101828;
}

.contactForm p {
  font-size: 20px;
  color: #475467;
}

#my-form {
  margin-top: 60px;
}

#name {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#name div {
  width: 48%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.flex-col-full {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

::placeholder {
  font-size: 16px;
}

#my-form label:not(:last-child) {
  font-size: 14px;
  font-weight: 500;
}

input,
textarea {
  padding: 16px 14px 14px;
  outline: none;
  border: 1px solid #99a3b5;
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: 0 1px 2px #10182820;
}

textarea {
  height: 132px;
  resize: none;
  overflow: auto;
}

input:focus {
  border: 1px solid #1570ef;
}

#my-form textarea:focus {
  box-shadow: 0 0 0 5px rgb(178, 221, 255);
}

.chk-container {
  display: block;
  position: relative;
  padding-left: 33px;
  color: #475467;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chk-container input {
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0;
  transform: translateY(-50%);
}

.chkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #99a3b5;
  border-radius: 6px;
}

.chk-container input:checked ~ .chkbox {
  border: 2px solid #1570ef;
}

.chkbox::after {
  content: "";
  position: absolute;
  left: 4px;
  height: 10px;
  width: 5px;
  border: solid #1570ef;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  border-radius: 2px;
  display: none;
}

.chk-container input:checked ~ .chkbox::after {
  display: block;
}

button {
  padding: 14px 14px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 1px 2px #10182820;
  outline: none;
}

#my-form button {
  width: 100%;
  color: white;
  border-radius: 8px;
  border: 1px solid #1570ef;
  background-color: #1570ef;
  font-size: 20px;
}

#my-form button:hover {
  background-color: #175cd3;
}
#my-form button:active {
  background-color: #154fb4;
}
#my-form button:focus {
  background-color: #175cd3;
  box-shadow: 0 0 0 5px rgb(178, 221, 255);
}
#my-form button:disabled {
  background-color: #b2ddff;
  border: none;
}

.back-button {
  border: 1px solid #99a3b5;
}
.back-button:focus {
  border: 1px solid #1570ef;
}
.back-button:hover {
  border: 1px solid #175cd3;
}

/* form validation */
small {
  font-size: 14px;
  color: #f83f23;
}

.error {
  border: 1px solid #f83f23;
  box-shadow: 0 0 0 5px #f3dad6;
}

.error-two {
  border: 1px solid #f83f23;
}

.form-success {
  width: 150px;
  height: 20px;
  background-color: white;
  border: 1px solid #1570ef;
  margin: 0 auto;
}
